.swal2-success-ring {

}

#status, #gender {
  display:flex;
  flex-direction: column;
}

.btn-pink {
  background: var(--pink);
  color: var(--white);
}

.btn-pink.active {
  color: var(--white) !important;
}

.btn-pink:focus, .btn-pink:active {
  color: var(--white) !important;
}

.card-header {
  background-color:unset;
}

.col > .badge {
  padding: unset;
  font-size: unset;
  line-height: unset;
}

.card--group {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.book--row {
  height: 50px;
  font-weight:700;
}

.book--row > * {
  padding: 0;
  text-align: center;
  margin:0;
}

.book--item {
  height: 100%;
  width: 50px;
}

.book--item > * {
  height: inherit;
  width: inherit;
}

.button--action{
  padding: 0 5px !important;
  font-weight:700;
}

.nav--menu {
  height: 56px;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  color : #1A3150 !important;
  font-weight: 700;
  padding: 0 1rem;
}

.nav-link.active {
  color : #FDCB5A !important;
  background-color: unset !important;
  border: none !important;
}

.nav-tabs .nav-link{
  border: 0;
}

.nav-link.active:after {
  content: "";
  width: 80%;
  padding-top:10px;
  height: 5px;
  display:flex;
  margin: 0 auto;
  border-bottom : 10px solid  #FDCB5A !important;
}