/* * {
    margin: 0;
    padding: 0;

}

h4 {
    font-size: 34px;
}

.top-header {
    height: 20vh;
    background: #1A3150;
    color: #FFFFFF;
    display: flex;

}

.bottom-header button {
    background: #FDCB5A;
    color: black;
    width: 12em;
    margin: 0.1em 0 0 0;
    height: 3em;
    font-size: 1.2em;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
}
.bottom-header button:hover{
    background: white;
}
.container {
    margin: 0;
    display: flex;
    justify-content: space-between;

    width: 80vw;
}

.left-headera {
    width: 40vw;
    display: flex;
    margin: auto 0;
    flex-direction: column;
    margin: 2em 0 0 0;

    position: relative;
}

.left-headera h4 {
    position: absolute;
    bottom: 0;
    left: 0.5em;
}

.left-headerb {
    width: 45vw;
    display: flex;
    margin: auto 0;
    flex-direction: column;
}

.right-header img {
    width: 20vw;
    margin-top: 6vh;
    height: auto;
}

.bottom-header {

    height: 40vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;



}

.curve-div {
    background: #1A3150;
    width: 103%;
    height: 40%;
    left: -3%;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.service {
    display: flex;
    flex-direction: column;
}

.top-service {
    margin: 16vh auto;
}

.bottom-service {
    margin: 0 auto;
    width: 85%;
    display: flex;

    font-weight: bold;

    justify-content: space-between;
}

.text {
    margin: 0 auto;
    width: 85%;
    display: flex;

    
    justify-content: space-between;
}

.card-service {
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.serviceBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.serviceBtn img {
    width: 16vw;
    
    
}


.card-service span {
    font-size: 6vw;
    color: #FDCB5A;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
}
.card-service .doctor {
    width: 6vw;
    color: #FDCB5A;
    z-index: 1;
    position: absolute;
    margin: 3vh auto;
}

#one {
    transform: rotate(152.15deg);
}

#two {
    margin-top: -3vh;

}

#three {
    transform: rotate(-54.83deg);
    margin-top: -5vh;
}

.choose {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 16vh auto;
    align-items: center;
}

.left-chose {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-chose .cat {
    z-index: 3;
    position: absolute;
    margin-top: -6vh;
}

.left-chose .yellow {
    z-index: 1;
    position: relative;
}

.left-chose .blue {
    z-index: 2;
    position: absolute;
}

.right-choose {
    width: 40vw;
}

.klinik {
    height: 30vh;
    display: flex;
    margin: 16vh 0 0 10vw;
    align-items: center;

}

.left-klinik {
    width: 40vw;
}
.rightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-klinik{
    display: flex;
    align-items: center;

}
.klinik-card{
    width: 20vw;
    height: 48vh;
    border:2px black;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    margin: auto 1vw;
}
.image-box{
width: 20vw;
height: 23vh;
background: red;
border-top-left-radius:11px ;
border-top-right-radius:11px ;
}
.klinik-card img{
  width: 100%;
  height: 100%;  
  border-top-left-radius:11px ;
border-top-right-radius:11px ;
}
.textKlinik{
    width: 19vw;
    text-align: left;
}
.textKlinik button{
    width: 30%;
    border-radius: 5px;
    border: none;
    margin-top: 1vh;
}
 .bookBtn{
width: 90%;
background: #FDCB5A;
font-weight: bold;
border: none;
border-radius: 5px;
padding: 0.5em;

}
.pagination span{
    color:  #1A3150;
font-size: 2em;
    margin: auto 0.1em;
} */