.drop-down {
  .dropdown-menu{
    padding: 0 0 .5rem 0;
    margin-top: 2rem !important;
    /* background:transparent; */
  }
  
  .dropdown-item:nth-child(1) {
    padding-top:.5rem;
  }
  
  .dropdown-menu-right:after {
    content:"";
    display:flex;
    position:absolute;
    top: -13px;
    right:35%;
    background-color:transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
  }
}
