:root {
  --primary-color-1: #1A3150;
  --primary-color-2: #FDCB5A;
  --others-color-1: #4C68B3;
  --others-color-2: #749DD2;
  --others-color-3: #C2CDDB;
  --others-color-4: #E0E9F5;
  --others-color-5: #F5F7FA;
  --others-color-6: #ED5341;
  --others-color-7: #FF7E6E;
  --others-color-8: #875C25;
  --others-color-9: #F6E8C8;
}

.vet-heading {
  font-weight: bold !important;
  font-size: 24px !important;
}

.vet-title-1 {
  font-weight: bold !important;
  font-size: 20px !important;
}

.vet-title-2 {
  font-weight: bold !important;
  font-size: 16px !important;
}

.vet-button {
  font-weight: 500 !important;
  font-size: 16px !important;
}

.vet-body-1 {
  font-weight: 400 !important;
  font-size: 14px !important;
}

.vet-body-2 {
  font-weight: 400 !important;
  font-size: 12px !important;
}

.vet-caption-1 {
  font-weight: 400 !important;
  font-size: 11px !important;
}

.v-text-donker {
  color: var(--primary-color-1) !important;
}

.v-text-mustard {
  color: var(--primary-color-2) !important;
}

.v-text-space {
  color: var(--others-color-1) !important;
}

.v-text-steel {
  color: var(--others-color-2) !important;
}

.v-text-gray {
  color: var(--others-color-3) !important;
}

.v-text-light {
  color: var(--others-color-4) !important;
}

.v-text-white {
  color: var(--others-color-5) !important;
}

.v-text-imperial {
  color: var(--others-color-6) !important;
}

.v-text-salmon {
  color: var(--others-color-7) !important;
}

.v-text-caramel {
  color: var(--others-color-8) !important;
}

.v-text-cream {
  color: var(--others-color-9) !important;
}

.v-bg-donker {
  background-color: var(--primary-color-1) !important;
}

.v-bg-mustard {
  background-color: var(--primary-color-2) !important;
}

.v-bg-space {
  background-color: var(--others-color-1) !important;
}

.v-bg-steel {
  background-color: var(--others-color-2) !important;
}

.v-bg-gray {
  background-color: var(--others-color-3) !important;
}

.v-bg-light {
  background-color: var(--others-color-4) !important;
}

.v-bg-white {
  background-color: var(--others-color-5) !important;
}

.v-bg-imperial {
  background-color: var(--others-color-6) !important;
}

.v-bg-salmon {
  background-color: var(--others-color-7) !important;
}

.v-bg-caramel {
  background-color: var(--others-color-8) !important;
}

.v-bg-cream {
  background-color: var(--others-color-9) !important;
}


.App {
  text-align: center;
}

html {
  overflow-y: scroll;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin) !important;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) !important;
  }
  to {
    transform: rotate(360deg) !important;
  }
}


@media only screen and (max-width:991px){
    
  .LoginSideImage {
    display:none !important;
    flex: 0 0 0 !important;
  }


}