:root {
  --primary-color-1: #1A3150;
  --primary-color-2: #FDCB5A;
  --others-color-1: #4C68B3;
  --others-color-2: #749DD2;
  --others-color-3: #C2CDDB;
  --others-color-4: #E0E9F5;
  --others-color-5: #F5F7FA;
  --others-color-6: #ED5341;
  --others-color-7: #FF7E6E;
  --others-color-8: #875C25;
  --others-color-9: #F6E8C8;
}

.vet-heading {
  font-weight: bold !important;
  font-size: 24px !important;
}

.vet-title-1 {
  font-weight: bold !important;
  font-size: 20px !important;
}

.vet-title-2 {
  font-weight: bold !important;
  font-size: 16px !important;
}

.vet-button {
  font-weight: 500 !important;
  font-size: 16px !important;
}

.vet-body-1 {
  font-weight: 400 !important;
  font-size: 14px !important;
}

.vet-body-2 {
  font-weight: 400 !important;
  font-size: 12px !important;
}

.vet-caption-1 {
  font-weight: 400 !important;
  font-size: 11px !important;
}

.v-text-donker {
  color: var(--primary-color-1) !important;
}

.v-text-mustard {
  color: var(--primary-color-2) !important;
}

.v-text-space {
  color: var(--others-color-1) !important;
}

.v-text-steel {
  color: var(--others-color-2) !important;
}

.v-text-gray {
  color: var(--others-color-3) !important;
}

.v-text-light {
  color: var(--others-color-4) !important;
}

.v-text-white {
  color: var(--others-color-5) !important;
}

.v-text-imperial {
  color: var(--others-color-6) !important;
}

.v-text-salmon {
  color: var(--others-color-7) !important;
}

.v-text-caramel {
  color: var(--others-color-8) !important;
}

.v-text-cream {
  color: var(--others-color-9) !important;
}

.v-bg-donker {
  background-color: var(--primary-color-1) !important;
}

.v-bg-mustard {
  background-color: var(--primary-color-2) !important;
}

.v-bg-space {
  background-color: var(--others-color-1) !important;
}

.v-bg-steel {
  background-color: var(--others-color-2) !important;
}

.v-bg-gray {
  background-color: var(--others-color-3) !important;
}

.v-bg-light {
  background-color: var(--others-color-4) !important;
}

.v-bg-white {
  background-color: var(--others-color-5) !important;
}

.v-bg-imperial {
  background-color: var(--others-color-6) !important;
}

.v-bg-salmon {
  background-color: var(--others-color-7) !important;
}

.v-bg-caramel {
  background-color: var(--others-color-8) !important;
}

.v-bg-cream {
  background-color: var(--others-color-9) !important;
}

path.v-fill-donker {
  fill: var(--primary-color-1) !important;
}
.registerForm > *:nth-child(1) >*:nth-child(1):before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background:url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.7999 13.3998V2.5998C20.7999 1.6038 19.9959 0.799805 18.9999 0.799805H2.18794C1.19194 0.799805 0.387939 1.6038 0.387939 2.5998V13.3998C0.387939 14.3958 1.19194 15.1998 2.18794 15.1998H18.9999C19.9959 15.1998 20.7999 14.3958 20.7999 13.3998ZM19.2279 2.4678C19.6239 2.8638 19.4079 3.2718 19.1919 3.4758L14.3199 7.9398L18.9999 12.8118C19.1439 12.9798 19.2399 13.2438 19.0719 13.4238C18.9159 13.6158 18.5559 13.6038 18.3999 13.4838L13.1559 9.0078L10.5879 11.3478L8.03194 9.0078L2.78794 13.4838C2.63194 13.6038 2.27194 13.6158 2.11594 13.4238C1.94794 13.2438 2.04394 12.9798 2.18794 12.8118L6.86794 7.9398L1.99594 3.4758C1.77994 3.2718 1.56394 2.8638 1.95994 2.4678C2.35594 2.0718 2.76394 2.2638 3.09994 2.5518L10.5879 8.5998L18.0879 2.5518C18.4239 2.2638 18.8319 2.0718 19.2279 2.4678Z' fill='MidnightBlue'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.registerForm > *:nth-child(1)>*:nth-child(1) {
  background:red;
  position:relative;
}

.App {
  text-align: center;
}

html {
  overflow-y: scroll;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin) !important;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) !important;
  }
  to {
    transform: rotate(360deg) !important;
  }
}


@media only screen and (max-width:991px){
    
  .LoginSideImage {
    display:none !important;
    flex: 0 0 0 !important;
  }


}