$colorList:(
  "donker": #1A3150,
  "mustard": #FDCB5A,
  "space": #4C68B3,
  "steel": #749DD2,
  "gray": #C2CDDB,
  "light": #E0E9F5,
  "white": #F5F7FA,
  "imperial": #ED5341,
  "salmon": #FF7E6E,
  "caramel": #875C25,
  "cream": #F6E8C8,
);

@each $name, $color in $colorList {
  .v-text-#{$name} {
    color: $color !important;
  }

  .v-bg-#{$name} {
    background-color: $color !important;
  }

  .v-fill-#{$name} {
    fill: $color !important;
  }
}